<div class="container color-white extra-padding round-corners">
  <h1>¿Quiénes somos?</h1>
  <div class="row">
      <div class="col-md-6 col-sm-6">
          <div class="block">
              <div class="extra-padding-top">
                  <img class="media-object pull-left" src="images/item-1.png" alt="Image">
                  <div class="media-body">
                      <h4 class="media-heading">Documentation</h4>
                      <p>Start from now, you can easily manage your time and it has reminder to let you know every time.</p>
                  </div>
              </div>
              <div class="extra-padding-top">
                      <img class="media-object pull-left" src="images/item-2.png" alt="Image">
                  <div class="media-body">
                      <h4 class="media-heading">Compete Friends</h4>
                      <p>Start from now, you can easily manage your time and it has reminder to let you know every time.</p>
                  </div>
              </div>
              <div class="extra-padding-top">
                      <img class="media-object pull-left" src="images/item-3.png" alt="Image">
                  <div class="media-body">
                      <h4 class="media-heading">Chat & Message</h4>
                      <p>Start from now, you can easily manage your time and it has reminder to let you know every time.</p>
                  </div>
              </div>
          </div>

      </div>

      <div class="col-md-6 col-sm-6">
          <div class="block">
              <div class="extra-padding-top">
                  <img class="media-object pull-left" src="images/item-4.png" alt="Image">
                  <div class="media-body">
                      <h4 class="media-heading">Community Helps & Supports</h4>
                      <p>Start from now, you can easily manage your time and it has reminder to let you know every time.</p>
                  </div>
              </div>
              <div class="extra-padding-top">
                      <img class="media-object pull-left" src="images/item-5.png" alt="Image">
                  <div class="media-body">
                      <h4 class="media-heading">Time Management</h4>
                      <p>Start from now, you can easily manage your time and it has reminder to let you know every time.</p>
                  </div>
              </div>
              <div class="extra-padding-top">
                      <img class="media-object pull-left" src="images/item-6.png" alt="Image">
                  <div class="media-body">
                      <h4 class="media-heading">Stats Overview</h4>
                      <p>Start from now, you can easily manage your time and it has reminder to let you know every time.</p>
                  </div>
              </div>
          </div>

      </div>
    </div>
</div>
