<div class="container color-white round-corners extra-padding">
  <h1>Contáctanos</h1>
  <hr class="colorgraph"><br>
  <div class="figure-container">
    <a href="http://www.facebook.com"><img class="SocialImage" src="../images/facebook.png" alt="Portfolio Item"></a>
    <a href="http://www.twitter.com"><img class="SocialImage" src="../images/twitter.jpg" alt="Portfolio Item"></a>
    <a href="http://www.instagram.com"><img class="SocialImage" src="../images/instagram.png" alt="Portfolio Item"></a>
  </div>
</div>
