<div ng-controller="HomeController" ng-show="isAdmin()">
    <div class="figure-container color-white round-corners">
      <div class="figure-div">
        <figure>
            <img src="" alt="Portfolio Item">
            <figcaption>
                <h3>Title</h3>
                <p>Description.</p>
            </figcaption>
        </figure>
      </div>
      <div class="figure-div">
        <figure>
            <img src="" alt="Portfolio Item">
            <figcaption>
                <h3>Title</h3>
                <p>Description.</p>
            </figcaption>
        </figure>
      </div>
      <div class="figure-div">
        <figure>
            <img src="" alt="Portfolio Item">
            <figcaption>
                <h3>Title</h3>
                <p>Description.</p>
            </figcaption>
        </figure>
      </div>
      <div class="figure-div">
        <figure>
            <img src="" alt="Portfolio Item">
            <figcaption>
                <h3>Title</h3>
                <p>Description.</p>
            </figcaption>
        </figure>
      </div>
    </div>
</div>

<div ng-controller="HomeController" ng-show="isRegular()">4

</div>

<div ng-controller="HomeController" ng-show="!$sessionStorage.currentUser">
  <div  class = "container">
  	<div class="wrapper">
  		<form action="" method="post" name="Login_Form" class="form-signin">
  		    <h1 class="form-signin-heading">Bienvenido a tu Gestor Estadístico</h1>
  			  <hr class="colorgraph"><br>

  			  <input type="text" class="form-control" name="Username" placeholder="Usuario" required="" autofocus="" ng-model="user.username"/>
  			  <input type="password" class="form-control" name="Password" placeholder="Contraseña" required="" ng-model="user.password"/>

  			  <button class="btn btn-lg btn-primary btn-block"  ng-click="login(user) name="Submit" value="Login" type="Submit">Entrar</button>
  		</form>
  	</div>
  </div>
</div>
