<div ng-controller="HomeController">
  <div id="demowrap">
    <div class="macbook">
      <div class="macbook-lid">
        <div class="macbook-screen">
          <div class="macbook-content">
            <ul class="macbook-apps">
              <li class="macbook-app"></li>
              <li class="macbook-app"></li>
              <li class="macbook-app"></li>
              <li class="macbook-app"></li>
              <li class="macbook-app"></li>
              <li class="macbook-app"></li>
              <li class="macbook-app"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="macbook-base"></div>
    </div>
    <div id="info">
      <p id="instructions"></p>
      <a id="inspiration"></a>
    </div>
  </div>

  <div class = "vertical-center">
    <button type="button" class="btn btn-info " data-toggle="modal" data-target="#LoginModal" ng-show="!$sessionStorage.currentUser"><span class="glyphicon glyphicon-heart"></span> Login</button>
  </div>
</div>
