<div ng-controller="HomeController" ng-show="isSocial()">
<div ng-controller="SurveyController">
  <div  class = "container no-padding">
  	<div class="wrapper">
      <form class="form-signin">
        <h1>Encuesta de Redes Sociales</h1>
        <hr class="colorgraph"><br>
        <label class="extra-padding-top">1. ¿Ha visto sus redes sociales hoy?</label>
        <select class="form-control" ng-model="survey.pregunta1">
          <option>Sí</option>
          <option>No</option>
        </select>
        <div ng-show="setVisibility()">
          <label class="extra-padding-top">2. ¿En qué red social ha navegado más?</label>
          <select class="form-control" ng-model="survey.pregunta2">
            <option>Facebook</option>
            <option>Google+</option>
            <option>Youtube</option>
            <option>Twitter</option>
            <option>Linkedin</option>
            <option>Reddit</option>
            <option>Instagram</option>
            <option>Pinterest</option>
            <option>Tumblr</option>
            <option>Imgur</option>
            <option>Flickr</option>
            <option>Vimeo</option>
            <option>DeviantART</option>
            <option>4chan</option>
          </select>
          <label class="extra-padding-top">3. ¿Por cuánto tiempo?</label>
          <select class="form-control" ng-model="survey.pregunta3">
            <option>10 minutos o menos</option>
            <option>20 minutos</option>
            <option>30 minutos</option>
            <option>45 minutos</option>
            <option>1 hora</option>
            <option>2 horas</option>
            <option>3 horas</option>
            <option>4 horas</option>
            <option>5 horas</option>
            <option>6 horas</option>
            <option>7 horas</option>
            <option>8 horas</option>
            <option>Más de 8 horas</option>
          </select>
          <label class="extra-padding-top">4. ¿A través de qué medio?</label>
          <select class="form-control" ng-model="survey.pregunta4">
            <option>Computadora</option>
            <option>Tablet</option>
            <option>Celular</option>
          </select>
        </div>
        <p></p>
        <button ng-show="setVisibility2()" type="submit" class="btn btn-lg btn-success btn-block"  ng-click="postSurvey('Redsocial')"><span class="glyphicon glyphicon-ok"></span> Finalizar</button>
<button type="submit" class="btn btn-lg btn-danger btn-block"  ng-click="goHome()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
      </form>
    </div>
  </div>
</div>
</div>
