<div ng-controller="SurveyController">
  <div  class = "container no-padding">
  	<div class="wrapper">
      <form class="form-signin">
        <h1>Encuesta de Películas</h1>
        <hr class="colorgraph"><br>
        <label class="extra-padding-top">1. ¿Fue alguna vez al cine esta semana?</label>
        <select class="form-control" ng-model="survey.pregunta1">
          <option>Sí</option>
          <option>No</option>
        </select>
        <div ng-show="setVisibility()">
          <label class="extra-padding-top">2. ¿A qué sala de cine asistió? </label>
          <select class="form-control" ng-model="survey.pregunta2">
            <option>Metrocinemas</option>
            <option>Cinemark</option>
            <option>Cinépolis</option>
          </select>
          <label class="extra-padding-top">3. ¿En qué día?</label>
          <select class="form-control" ng-model="survey.pregunta3">
            <option>Domingo</option>
            <option>Lunes</option>
            <option>Martes</option>
            <option>Miércoles</option>
            <option>Jueves</option>
            <option>Viernes</option>
            <option>Sábado</option>
          </select>
          <label class="extra-padding-top">4. ¿A qué hora?</label>
          <select class="form-control" ng-model="survey.pregunta4">
            <option>12 am</option>
            <option>1 am</option>
            <option>2 am</option>
            <option>3 am</option>
            <option>4 am</option>
            <option>5 am</option>
            <option>6 am</option>
            <option>7 am</option>
            <option>8 am</option>
            <option>9 am</option>
            <option>10 am</option>
            <option>11 am</option>
            <option>12 pm</option>
            <option>1 pm</option>
            <option>2 pm</option>
            <option>3 pm</option>
            <option>4 pm</option>
            <option>5 pm</option>
            <option>6 pm</option>
            <option>7 pm</option>
            <option>8 pm</option>
            <option>9 pm</option>
            <option>10 pm</option>
            <option>11 pm</option>
          </select>
          <label class="extra-padding-top">5. ¿Cómo adquirió sus entradas? </label>
          <select class="form-control" ng-model="survey.pregunta5">
            <option>Internet</option>
            <option>Taquilla</option>
          </select>
        </div>
        <p></p>
        <button ng-show="setVisibility2()" type="submit" class="btn btn-lg btn-success btn-block"  ng-click="postSurvey('Película')"><span class="glyphicon glyphicon-ok"></span> Finalizar</button>
        <button type="submit" class="btn btn-lg btn-danger btn-block"  ng-click="goHome()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
      </form>
    </div>
  </div>
</div>
