<div ng-controller="SurveyController">
  <div  class = "container no-padding">
  	<div class="wrapper">
      <form class="form-signin">
        <h1>Encuesta de Radio</h1>
        <hr class="colorgraph"><br>
        <label class="extra-padding-top">1. ¿Ha escuchado la radio local hoy?</label>
        <select class="form-control" ng-model="survey.pregunta1">
          <option>Sí</option>
          <option>No</option>
        </select>
        <div ng-show="setVisibility()">
          <label class="extra-padding-top">2. ¿Qué canal de TV escuchó?</label>
          <select class="form-control" ng-model="survey.pregunta2">
            <option>Radio América</option>
            <option>HRN La Voz de Honduras Emisoras Unidas</option>
            <option>Super 100 Stereo</option>
            <option>Radio Moderna</option>
            <option>Sterep Azul</option>
            <option>Momentos FM Stereo</option>
            <option>Estereo Clásica</option>
            <option>La Voz Evangélica de Honduras</option>
            <option>FM 103.1 Tu Alternativa</option>
            <option>Kairos 91.1 FM</option>
            <option>Radio Comayagüela</option>
            <option>Radio Nacional de Honduras</option>
            <option>Radio Satélite Honduras</option>
            <option>Radio Globo Honduras</option>
            <option>ABC Radio Honduras</option>
            <option>Estereo Mil</option>
            <option>Suprema Stereo</option>
            <option>Radio Deejay</option>
            <option>94.1 Su FM</option>
            <option>Rock N' Pop Honduras</option>
            <option>XY 90.5 Tegucigalpa</option>
            <option>Power FM Tegucigalpa</option>
            <option>Stereo Fe</option>
            <option>107.9 La Top Music</option>
            <option>La W107</option>
            <option>EXA FM</option>
            <option>Stereo Exitos</option>
            <option>Suave FM</option>
          </select>
          <label class="extra-padding-top">3. ¿En qué horario?</label>
          <select class="form-control" ng-model="survey.pregunta3">
            <option>12 am</option>
            <option>1 am</option>
            <option>2 am</option>
            <option>3 am</option>
            <option>4 am</option>
            <option>5 am</option>
            <option>6 am</option>
            <option>7 am</option>
            <option>8 am</option>
            <option>9 am</option>
            <option>10 am</option>
            <option>11 am</option>
            <option>12 pm</option>
            <option>1 pm</option>
            <option>2 pm</option>
            <option>3 pm</option>
            <option>4 pm</option>
            <option>5 pm</option>
            <option>6 pm</option>
            <option>7 pm</option>
            <option>8 pm</option>
            <option>9 pm</option>
            <option>10 pm</option>
            <option>11 pm</option>
          </select>
          <label class="extra-padding-top">4. ¿En dónde la escuchó?</label>
          <select class="form-control" ng-model="survey.pregunta4">
            <option>Casa</option>
            <option>Trabajo</option>
            <option>PC</option>
            <option>Dispositivo Móvil</option>
            <option>Restaurante</option>
            <option>Sala de Espera</option>
            <option>Calle</option>
            <option>Otro</option>
          </select>
        </div>
        <p></p>
        <button ng-show="setVisibility2()" type="submit" class="btn btn-lg btn-success btn-block"  ng-click="postSurvey('Radio')"><span class="glyphicon glyphicon-ok"></span> Finalizar</button>
        <button type="submit" class="btn btn-lg btn-danger btn-block"  ng-click="goHome()"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
      </form>
    </div>
  </div>
</div>
