<div ng-controller="HomeController" ng-show="isAdmin()">
  <div ng-controller="RegisterController">
    	<div class="wrapper">
    		<form name="Login_Form" class="form-signin">
    		    <h1 class="form-signin-heading">Crear Usuario</h1>
    			  <hr class="colorgraph"><br>
            <p>Selecciona un nombre de usuario y una contraseña:</p>
    			  <p></p>
            
            <a href="#/user"><button type="submit" class="btn btn-lg btn-warning btn-block"><span class="glyphicon glyphicon-remove"></span> Cancelar</button></a>
            <p ng-show="wrongpass2" class="color-red">Datos erróneos. Intente con otro nombre de usuario.</p>
    		</form>
    	</div>
</div>
