<div ng-controller="HomeController" ng-show="isAdmin()">
<div ng-controller="RegisterController" class="container color-white extra-padding round-corners" data-ng-init="getUsers()">
  <h1>Usuarios</h1>
  <hr class="colorgraph"><br>
  <div class="row extra-padding-bot">
      <div class="col-xs-12">
          <a href="#/createuser"><button type="button"  class="btn btn-success" ><span class="glyphicon glyphicon-plus"></span> Nuevo Usuario</span></button></a>
          <button type="button"  ng-click="setSortUser()" class=" btn btn-warning"  ><span class="glyphicon glyphicon-sort"></span> Nombre</span></button>
          <button type="button"  ng-click="setSortRole()" class=" btn btn-warning"  ><span class="glyphicon glyphicon-sort"></span> Tipo</span></button>
          <button type="button"  ng-click="getUsers()" class="btn btn-info"  ><span  class="glyphicon glyphicon-refresh"></span> Actualizar</span></button>
      </div>
  </div>
  <div class="panel panel-primary overflowtable">
    <table class="table table-striped table-hover table-responsive table-condensed">
        <tr class="success">
            <th>
                <h4>Usuario</h4>
            </th>
            <th>
                <h4>Tipo</h4>
            </th>
            <th>
                <h4>Administrar</h4>
            </th>
        </tr>
            <tr  ng-repeat="user in users | orderBy:sortType:sortReverse" class="info">
                <td class="col-lg-4 col-xs-4" ng-if="user.scope[0]=='regular'">
                    {{user.username}}
                </td>
                <td class="col-lg-6 col-xs-6" ng-if="user.scope[0]=='regular'">
                    {{user.scope}}
                </td>
                <td class="col-lg-2 col-xs-2" ng-if="user.scope[0]=='regular'">
                    <button type="button" ng-click="updateUser(user)" class="btn btn-warning" ><span class="glyphicon glyphicon-pencil"></span>Asignar Roles</button>
                </td>
            </tr>
    </table>
</div>

<div class="checkbox-container">
  <h4>Selecione el listado de roles que desea asignar:</h4>
    <label class = "extra-padding" ng-repeat="roleName in roles"><input type="checkbox" name="selectedRoles[]" value="{{roleName}}" ng-checked="selection.indexOf(roleName) > -1" ng-click="toggleSelection(roleName)"> {{roleName}}</label>
    <br><a href="#/createRole"><button type="button" class="btn btn-success" >Crear Rol</button></a>
    <a><button type="button" ng-click="deleteRole()" class="btn btn-success" >Eliminar Roles Seleccionados</button></a>
<h4 class="color-blue" ng-show="updateTable">Operación exitosa, para ver los cambios actualice la tabla.</h4>
    </div>
</div>
</div>
